html {
    height: 100%;
} section {
    height: 100%;
} body {
    height:100%;
    background-color:rgb(108, 19, 175); 
    font-family: "Comic Sans MS", "Comic Sans", Sans-serif;
    padding: 0;
} h1 {
    color:rgb(180, 109, 3); 
    text-align: center;
} h2, h3 {
    color:rgb(180, 109, 3); 
    text-align: center;
    line-height: 0.8em;
    margin-top: 40px;
    margin-bottom: 0;
} h5 {
    color:rgb(180, 109, 3); 
} p{
    color:rgb(180, 109, 3); 
    text-align: justify;
    /*size: 20px;*/
} a {
    color:rgb(15, 102, 14); 
} iframe {
    overflow:hidden;
} figure{
    margin: auto;
    text-align: center;
    color:rgb(180, 109, 3); 
    margin-bottom: 15px;
} figcaption {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
} img{
    margin: auto;
    width: 80%;
} .page_header, .page_footer {
    margin: auto;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
} .page_body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} .page {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}