body {
    background-color:#212f4d;
    font-family: "Comic Sans MS", "Comic Sans", Sans-serif;
    padding: 0;
} h3 {
    color:#ffffff;
    text-align: center;
    line-height: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
} a {
    color: #7c87ef;
} 